<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="card" style="width: 400px;">
                <div class="card-body">
                    <h4 class="card-title text-center">Login</h4>
                    <form #loginForm="ngForm" novalidate>
                        <div class="inputs">
                            <div class="mb-3">
                                <label for="" class="form-label">Email</label>
                                <input type="email" class="form-control" name="loginData.email"
                                    aria-describedby="emailHelpId" [(ngModel)]="loginData.email" placeholder="email"
                                    [email]="true" #email="ngModel" required>
                                <small class="text-danger form-text d-block"
                                    *ngIf="(email.touched) && email.errors?.['required']">
                                    email is required.
                                </small>
                                <small class="text-danger form-text d-block"
                                    *ngIf="(email.touched ) && email.errors?.['email']">
                                    email is not valid
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Password</label>
                                <input [(ngModel)]="loginData.password" type="password" class="form-control"
                                    name="loginData.password" placeholder="" #password="ngModel" required>
                                <small class="text-danger form-text d-block" appPasswordPattern
                                    *ngIf="(password.touched) && password.errors?.['required']">
                                    password is required.
                                </small>
                                <small class="text-danger form-text d-block"
                                    *ngIf="password.touched && password.errors?.['invalidPassword']">
                                    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                    letter and 1 number
                                </small>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" name="" class="btn btn-primary" [disabled]="isLoading"
                                    (click)="login(loginForm)">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                                        *ngIf="isLoading"></span>
                                    Login</button>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center text-center">
                        <div class="alert" role="alert"><strong>Don't have account!</strong>
                            <br> <a routerLink="/register" class="text-primary alert-link">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>